# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LAVENDER58_LEFT

config ZMK_KEYBOARD_NAME
	default "Lavender58"

config ZMK_SPLIT_ROLE_CENTRAL
	default y
	
endif

if SHIELD_LAVENDER58_LEFT || SHIELD_LAVENDER58_RIGHT

config ZMK_SPLIT
	default y

endif
